<div>
    <div>
        <div>
            
            <div *ngIf="message" 
                [ngClass]="messageType" 
                style="white-space: pre-line;">
            {{ message }}
            </div>

            <div *ngIf="messageType === 'success'">
                <h3>Télécharger un fichier</h3>
                <div>                
                    <span>{{ fileMetaDataResponse?.originalFileName }}</span>
                </div>
                <div>
                    <span>{{ fileMetaDataResponse?.fileSize }}</span>                    
                </div>
                <div>
                    {{ fileMetaDataResponse?.isExpired
                        ? 'Ce fichier n\'est plus disponible en téléchargement car il a expiré.'
                        : fileMetaDataResponse?.expirationDays === 1
                            ? 'Attention, ce fichier expirera dans 1 jour !'
                            : 'Ce fichier expirera dans ' + fileMetaDataResponse?.expirationDays + ' jour(s) !'
                    }}
                </div>
                <div>
                    <h3>Mot de passe</h3>
                    <div *ngIf="isLoading" class="spinner"></div>
                    <form [formGroup]="fileForm">

                        <input class="loginInput" type="password" 
                        formControlName="password" 
                        placeholder="Saisissez votre mot de passe...">
                        
                        <button (click)="downloadFile()"
                        [disabled]="isLoading">
                            {{ isLoading ? 'Téléchargement...' : 'Télécharger' }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>