.button-select-file {
  cursor: pointer;
  padding: var(--sds-size-space-200) var(--sds-size-space-300);
  justify-content: center;
  align-items: center;
  gap: var(--sds-size-space-200);
  border-radius: var(--sds-size-radius-200);
  border: var(--sds-size-stroke-border) solid #FFA569;
  color: #E27F29;  
}

.fileForm-uploaded-fileInfos-container {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: var(--sds-size-space-200);
  margin-top: var(--sds-size-space-600);
  margin-bottom: var(--sds-size-space-600);
}

.file-url {
  margin-top: var(--sds-size-space-400);
}

.file-url a {
  color: #FFB88C;
  margin-left: var(--sds-size-space-400);
}

.fileForm-expiration {
  display: flex;
  height: 40px;
  min-width: 240px;
  padding: var(--sds-size-space-300) var(--sds-size-space-300) var(--sds-size-space-300) var(--sds-size-space-400);
  align-items: center;
  gap: var(--sds-size-space-200);
  flex-shrink: 0;
  align-self: stretch;
  border-radius: var(--sds-size-radius-200);
  border: var(--sds-size-stroke-border) solid var(--sds-color-border-default-default);
  background: var(--sds-color-background-default-default);
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.fileForm-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.fileForm-tags {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 4px;
}

.fileForm-button-televerser,
.fileForm-button-copier {
    display: flex;
    padding: var(--sds-size-space-300);
    justify-content: center;
    align-items: center;
    gap: var(--sds-size-space-200);
    align-self: stretch;
    color: #BA681F;
    background: rgba(255, 129, 45, 0.13);
    border-radius: var(--sds-size-radius-200);
    border: var(--sds-size-stroke-border) solid rgba(205, 94, 20, 0.50);
    font-family: var(--Main-Font);
    font-size: var(--sds-typography-body-size-small);
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    cursor: pointer;
}

.link-copied {
    font-family: var(--Main-Font);
    font-size: var(--sds-typography-body-size-small);
}