<!--
<div class="main-frame">
  <div class="gardeDataShare">DataShare</div>
  <div class="gardeSlogan">« Nous gardons vos fichiers en toute sécurité »</div>
</div>
-->

<div class="televerser-container">

  <div class="televerser-text" data-cy="home-text">
    Tu veux partager un fichier ?
  </div>

  <div class="televerser-button" routerLink="/files/upload">
    <div class="televerser-outer-circle" data-cy="home-button-televerser">
      <div class="televerser-inner-circle">
        <div class="televerser-icon"><div>
      </div>        
    </div>
  </div>

</div>

