
<div class="form-container">
    
    <div class="form-title" data-cy="file-details-title">
        Télécharger un fichier
    </div>

    <!-- Message -->    
    @if (message) {
        <div class="alert" [ngClass]="{
            'alert-danger': messageType === 'error',
            'alert-success': messageType === 'success'
        }" data-cy="file-details-div-alert">
            {{ message }}
        </div>
    }

    <div class="spinner-container" *ngIf="isLoading">
        <div class="spinner"></div>
        <p class="spinner-text">Traitement en cours, veuillez patienter...</p>
    </div>

    <div *ngIf="isFileFound" class="form-io-container">
        
        <div class="form-io-row" *ngIf="!isExpired">
            <div class="file-infos-icon"></div>
            <div class="file-infos-container">
                <div class="file-infos-name">{{ fileMetaDataResponse?.originalFileName }}</div>
                <div class="file-infos-size">{{ fileMetaDataResponse?.fileSize }}</div>
            </div>
        </div>

        <div class="form-io-row-noWidth" [ngClass]="getExpirationClass(fileMetaDataResponse?.isExpired, fileMetaDataResponse?.remainingDays)">            
           
               {{ getExpirationLabel(fileMetaDataResponse?.isExpired, fileMetaDataResponse?.remainingDays) }}
               
        </div>
        
        <form [formGroup]="fileForm" *ngIf="!isExpired && fileMetaDataResponse?.isProtected" style="width: 100%;">
            <div class="form-io">
                <label class="form-input-label">Mot de passe</label>
                <input class="form-input" type="password" 
                formControlName="password" data-cy="file-details-input-password"
                placeholder="Saisissez le mot de passe...">
            </div>
        </form>
    </div>

    <div *ngIf="isFileFound && !isExpired" class="form-button-container">
        <button class="form-button form-button-telecharger" (click)="downloadFile()"
            [disabled]="isLoading" data-cy="file-details-button-telecharger">
            {{ isLoading ? 'Téléchargement...' : 'Télécharger' }}
        </button>
    </div>
</div>
