<div class="layout">
   
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="title">DataShare</div>

        <nav class="menu">
            <div class="menu-item active">Mes fichiers</div>
        </nav>

        <div class="footer">Copyright DataShare® 2025</div>
    </aside>

    <div class="main">
    
        <header class="header">
            <button class="btnMenu" routerLink="/files/upload">Ajouter des fichiers</button>
            <div class="button-link button-logout">
                <a (click)="logout()">Déconnexion</a>
            </div>
        </header>

        <div class="content">

            @if (message) {
                <div class="alert" [ngClass]="{
                    'alert-danger': messageType === 'error',
                    'alert-success': messageType === 'success'
                }" data-cy="file-list-div-alert">
                    {{ message }}
                </div>
            }
                        
            <div class="file-list-container">

                <div class="form-title">
                    Mes fichiers
                </div>

                <div class="form-io-row">
                    <div class="filtres">
                        <div class="filtres-item active"
                        [class.active]="filter === 'all'"
                        (click)="filter = 'all'; filterFiles();">
                            Tous
                        </div>
                        <div class="filtres-item"
                        [class.active]="filter === 'valid'"
                        (click)="filter = 'valid'; filterFiles();">
                            Actifs
                        </div>
                        <div class="filtres-item"
                        [class.active]="filter === 'expired'"
                        (click)="filter = 'expired'; filterFiles();">
                            Expirés
                        </div>
                    </div>
                </div>

                <div class="file-list-item" data-cy="file-list-items" *ngFor="let fileMetaData of filteredFiles">
                                        
                    <div class="form-io-row">
                        <div class="file-infos-icon"></div>
                        <div class="file-infos-container">
                            <div class="file-infos-name">{{ fileMetaData.originalFileName }}</div>
                            <div class="file-infos-size" [ngClass]="getExpirationClass(fileMetaData.isExpired, fileMetaData.remainingDays)">
                                {{ getExpirationLabel(fileMetaData.isExpired, fileMetaData.remainingDays) }}
                            </div>
                        </div>                    
                    </div>

                    <div class="file-actions">
                        
                        <div *ngIf="fileMetaData.isProtected" class="file-action file-lock">
                        </div>

                        <div class="file-action">
                            <div class="file-action-button file-action-delete"
                                (click)="deleteFile(fileMetaData.token, $event)"
                                data-cy="file-list-div-delete">
                                Supprimer
                            </div>
                        </div>

                         <div class="file-action">
                            <div class="file-action-button file-action-access" 
                                        [routerLink]="['/file', fileMetaData.token]"
                                        data-cy="file-list-div-access">
                                Accéder
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>

            <!--
            <div class="tabs">
                <span class="tab active">Tous</span>
                <span class="tab">Actifs</span>
                <span class="tab">Expiré</span>

                <button (click)="filter = 'all'; filterFiles(); ">Tous</button>
                <button (click)="filter = 'valid'; filterFiles(); ">Actifs</button>
                <button (click)="filter = 'expired'; filterFiles(); ">Expirés</button>

                <input
                    type="text"
                    placeholder="Filtrer par tag..."
                    [(ngModel)]="tagFilter"
                    (ngModelChange)="filterFiles()"
                />

            </div>
        
            
            <div class="file-list" *ngFor="let fileMeta of filteredFiles">
                <div class="file-item">
                <div class="file-info">
                    <strong>{{ fileMeta.originalFileName }}</strong>
                    <span>Expire le : {{ fileMeta.expirationDate }}</span>
                </div>
                <div class="file-actions">
                    <a href="#" (click)="deleteFile(fileMeta.token, $event)">Delete</a>
                    <button [routerLink]="['/file', fileMeta.token]">Accéder</button>
                </div>                
            </div>
            -->
            
        </div>
  </div>
</div>

