
<div class="form-container">
    
    <div class="form-title">
        Ajouter un fichier
    </div>
        
    <div class="spinner-container" *ngIf="isLoading">
        <div class="spinner"></div>
        <p class="spinner-text">Traitement en cours, veuillez patienter...</p>
    </div>

    <div *ngIf="showForm; else uploadedBlock">
        <form [formGroup]="fileForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
            
            <!--
            <input class="fileForm-input" type="file" (change)="onFileSelected($event)">
            -->

            <div class="form-io-container">
                
                <div class="form-io-row">
                    
                    <div class="form-io-row" *ngIf="selectedFileName; else noFileSelected">
                        <div class="file-infos-icon"></div>
                        <div class="file-infos-container">
                            <div class="file-infos-name">{{ selectedFileName }}</div>
                            <div class="file-infos-size">{{ selectedFileSize }}</div>
                        </div>                    
                    </div>
                    <ng-template #noFileSelected>
                        <div class="file-placeholder">Sélectionner un fichier...</div>
                    </ng-template>
                    
                    <div class="button-select-file" (click)="fileInput.click()">
                        Changer
                    </div>
                    <input #fileInput data-cy="file-form-input-file"
                           type="file" hidden (change)="onFileSelected($event)">
                </div>

                <!-- Message -->    
                @if (message) {
                    <div class="alert" [ngClass]="{
                        'alert-danger': messageType === 'error',
                        'alert-success': messageType === 'success'
                    }" data-cy="file-form-div-alert">
                        {{ message }}
                    </div>
                }
                
                <div class="form-io">
                    
                    <label class="form-input-label">Mot de passe</label>
                    <input type="password" class="form-input"                        
                    formControlName="password" 
                    placeholder="Optionnel"
                    data-cy="file-form-input-password"
                    />
                    @if (submitted && form['password'].errors) {
                        <div class="invalid-feedback" data-cy="file-form-div-password-error">
                            @if (form['password']?.errors?.['minlength']) {
                                <div>Veuillez saisir un mot de passe d'au moins 6 caractères</div>
                            }                        
                        </div>
                    }
                </div>
                
                <div class="form-io form-expiration">
                    
                    <label class="form-input-label">Expiration</label>
                    <select class="form-input expiration" [formControl]="selectExpiration" data-cy="file-form-select-expiration">
                        <option *ngFor="let option of expirations" [value]="option.value">
                            {{ option.viewValue }}
                        </option>
                    </select>
                </div>

                <div class="form-io">
                    
                    <label class="form-input-label">Ajouter des tags</label>
                    <input type="text" class="form-input"
                    [formControl]="tagInput"
                    (keyup)="onTagKeyUp($event)"
                    placeholder="Séparez les tags par un espace"
                    maxlength="150"
                    data-cy="file-form-input-tags"
                    />
                    
                    <div class="fileForm-tags-container" >
                        <div class="fileForm-tags" *ngFor="let tag of tags; let i = index">
                            {{ tag }}
                            <button type="button" (click)="removeTag(i)">x</button>                
                        </div>
                    </div>
                    
                </div>
                
            </div>

            <div class="form-button-container" style="align-items: center;">
                <button class="form-button-nostretch form-button-televerser" [disabled]="isLoading" data-cy="file-form-button-televerser">
                    {{ isLoading ? 'Téléversement en cours...' : 'Téléverser' }}
                </button>
            </div>
            
        </form>
    </div>

    <ng-template #uploadedBlock>
        
        <div class="form-io-row" *ngIf="selectedFileName" style="padding-left: var(--sds-size-space-400);">

            <div class="file-infos-icon"></div>
            <div class="file-infos-container">
                <div class="file-infos-name">{{ uploadFileResponse?.originalFileName }}</div>
                <div class="file-infos-size">{{ uploadFileResponse?.fileSize }}</div>
            </div>

        </div>

        <div class="form-io">

            <div data-cy="file-form-div-success">Félicitations, ton fichier sera conservé chez nous 
                {{ uploadFileResponse?.expirationDays === 7 ? 'pendant 1 semaine' : 'pendant ' + uploadFileResponse?.expirationDays + ' jour(s)' }} !
            </div>
            <div class="file-url">
                <a href="{{ 'http://localhost:4200/File/' + uploadFileResponse?.token }}" target="_blank">
                    {{ 'http://localhost:4200/File/' + uploadFileResponse?.token }}
                </a>
            </div>
        </div>

        <div class="form-button-container" style="align-items: center;">
            <button class="form-button-nostretch form-button-copier" 
                    (click)="copyLink()" data-cy="file-form-button-copyLink">Copier le lien</button>
        </div>
        @if (linkCopied) {
             <span class="link-copied" data-cy="file-form-span-linkCopied">{{ linkCopied }}</span>                
        }
    </ng-template>    
</div>
    