<div class="app-container">

    <header class="header">
        
        <div class="header-left">
            <div class="header-left-content">
                <h1>DataShare</h1>
            </div>
        </div>
        
        <div class="header-right">
            <div class="header-right-content">
                
                @if (!(loginService.isAuthenticated())) {
                    <button class="btnConnexion" routerLink="/login">Se connecter</button>
                }
                
                @if (loginService.isAuthenticated()) {
                    <span>{{ loginService.getUserName() }}</span>
                    <button class="btnConnexion" (click)="logout()">Se déconnecter</button>
                    <button class="btnFileUpload" routerLink="/files/upload">Téléverser</button>
                    <button class="btnFiles" routerLink="/files">Voir les fichiers</button>
                }

            </div>
        </div>
        
    </header>
    
    <div class="main-content">    
        <router-outlet/>
    </div>
    
    <footer class="footer">
        <p>Copyright DataShare© 2025</p>
    </footer>
</div>