.login-button-creer-compte {
    margin-top: var(--sds-size-space-600);
    padding: var(--sds-size-space-300);
    justify-content: center;
    align-items: center;
    gap: var(--sds-size-space-200);
    align-self: stretch;
}

.login-button-creer-compte a {
    color: #E27F29;
    font-family: var(--Main-Font, "DM Sans");
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    text-decoration: none;
}