
<div class="form-container">
            
    <div class="form-title">
        Créer un compte
    </div>

    <!-- Message -->    
    @if (message) {
        <div class="alert" [ngClass]="{
            'alert-danger': messageType === 'error',
            'alert-success': messageType === 'success'
        }" data-cy="register-div-alert">
            {{ message }}
        </div>
    }


    <div class="spinner-container" *ngIf="isLoading">
        <div class="spinner"></div>
        <p class="spinner-text">Traitement en cours, veuillez patienter...</p>
    </div>
    
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        
        <div class="form-io-container">
            
            <div class="form-io">

                <label class="form-input-label" for="email">Email</label>                
                <input type="email" class="form-input" 
                formControlName="email" id="email"
                data-cy="register-input-email"
                placeholder="Saisissez votre email..."/>                
                @if (submitted && form['email'].errors) {
                    <div class="invalid-feedback" data-cy="invalid-feedback-email">
                        @if (form['email']?.errors?.['required']) {
                            <div>Veuillez saisir une adresse email</div>
                        }
                        @if (form['email']?.errors?.['email']) {
                            <div>Veuillez saisir une adresse email valide</div>
                        }
                    </div>
                }
            </div>
            
            <div class="form-io">
                
                <label class="form-input-label" for="password">Mot de passe</label>
                <input type="password" class="form-input"
                formControlName="password" id="password"
                data-cy="register-input-password"
                placeholder="Saisissez votre mot de passe...">
                @if (submitted && form['password'].errors) {
                    <div class="invalid-feedback" data-cy="invalid-feedback-password">
                        @if (form['password']?.errors?.['required']) {
                            <div>Veuillez saisir votre mot de passe</div>
                        }
                        @if (form['password']?.errors?.['minlength']) {
                            <div>Veuillez saisir un mot de passe d'au moins 8 caractères</div>
                        }
                    </div>
                }
                
                <label class="form-input-label" for="confirmPassword">Vérification du mot de passe</label>
                <input type="password" class="form-input"
                formControlName="confirmPassword" id="confirmPassword"
                data-cy="register-input-confirmPassword"
                placeholder="Saisissez-le à nouveau">
                @if (submitted && userForm?.errors?.['passwordMismatch']) {
                    <div class="invalid-feedback" data-cy="invalid-feedback-passwordMismatch">
                        <div>Les mots de passe ne correspondent pas</div>
                    </div>
                }
                @if (submitted && form['confirmPassword'].errors) {
                    <div class="invalid-feedback" data-cy="invalid-feedback-confirmPassword">
                        @if (form['confirmPassword']?.errors?.['required']) {
                            <div>Veuillez ressaisir votre mot de passe</div>
                        }                        
                    </div>
                }
            </div>

        </div>

        <div class="form-button-container">
            <div class="register-button-reset" data-cy="register-link-reset">
                <a routerLink="/login" (click)="onReset()">J'ai déjà un compte</a>
            </div>
            <button class="form-button" 
                data-cy="register-button-submit">
                Créer mon compte
            </button>
        </div>
    </form>
      
</div>