.layout {
  display: flex;
  min-height: 100vh;
  font-family: var(--Main-Font);  
}

.sidebar {
  border-right: 2px solid rgba(98, 54, 26, 0.15);
  background: var(--Background);
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: white;
  gap:10px;
}

.title {
  color: #FFF;
  font-feature-settings: 'liga' off;
  font-family: var(--Main-Font);
  font-size: var(--Static-Headline-Large-Size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--Static-Headline-Large-Line-Height);
  letter-spacing: var(--Static-Headline-Large-Tracking);
}

.menu {
  flex: 1;
}

.menu-item {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.menu-item.active {
  color: #803A00;
  font-feature-settings: 'liga' off;  
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.40);
}

.footer {
  display: flex;
  justify-content: center;

}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
}

/* Header */
.header {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 16px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

/* Content */
.content {
  padding: 20px;
}

/* Tabs */
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  padding: 6px 12px;
  border-radius: 12px;
  background: #eee;
  cursor: pointer;
}

.tab.active {
  background: #e57373;
  color: white;
}

/* File list */
.file-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* File item */
.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 12px;
  border-radius: 8px;
}

.file-info {
  display: flex;
  flex-direction: column;
}

.file-actions {
  display: flex;
  gap: 8px;
}

.logout {
  cursor:pointer;
}